#sidebar, #sidebar_header {
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    border-right: 1px solid white;
}

#sidebar_header {
    margin-top: 8vh;
    height: 12vh;
}

#sidebar_header_title {
    color: white;
    font-weight: 600;
    font-size: 2vw;
    font-family: 'GaretBook';
    letter-spacing: 0.2vw;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #5e6a6f;
}

#sidebar_header_subtitle {
    color: white;
    font-family: 'GaretBook';
    font-size: 1vw;
}

#sidebar_header_sep {
    color: white;
    font-family: 'GaretBook';
    letter-spacing: 0.5vw;
    font-size: 2vw;
    height: 6vh;
}

.sidebar-category {
    color: white;
    font-weight: 600;
    font-size: 1.5vw;
    transition: all 0.2s;
    cursor: pointer;
    font-family: 'GaretBook';
}

#sidebar_flags, #sidebar_speeds {
    display: flex;
    flex-direction: row;
    width: 12vw;
    height: 10vh;
}

#sidebar_flags {
    margin-bottom: 5vh;
}

.sidebar-flag, .sidebar-speed {
    width: 3vw;
    height: 2vw;
    margin: auto auto;
    border-radius: 5px;
    transition: all 0.2s;
}

.sidebar-flag:hover, .sidebar-category:hover, .sidebar-speed:hover {
    transform: scale(115%);
    opacity: 0.5;
}

.sidebar-flag-selected, .sidebar-selected-category  {
    transform: scale(115%);
    opacity: 0.5;
}

#sidebar_speeds {
    gap: 1vw;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}

.sidebar-speed {
    color: white;
    font-family: 'GaretBook';
    text-align: center;
    font-weight: 600;
    font-size: 1.3vw;
    cursor: pointer;
}

.sidebar-speed-selected {
    border: 2px white solid;
}